name: Feest

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build --platform=linux/arm64 -t feest_builder .

      - name: Compile inside Docker
        run: |
          docker run -it --rm `
            -v "${{ github.workspace }}:/work" `
            --platform=linux/arm64 `
            feest_builder /bin/sh -c "cd /work && \
              echo 'Start compiling...' && \
              gcc -c pigpio/*.c && \
              ar rcs libpigpio.a *.o && \
              gcc main.c -L. -lpigpio -o main && \
              echo 'Compilation OK'"


      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
             ssh-private-key: ${{ secrets.PI_SSH_KEY }}

      - name: Upload main to Raspberry Pi
        run: |
          scp -o StrictHostKeyChecking=no ./main ${{ secrets.PI_USER }}@${{ secrets.PI_HOST }}:/home/${{ secrets.PI_USER }}/main

      - name: Restart program on Raspberry Pi
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.PI_USER }}@${{ secrets.PI_HOST }} << 'EOF'
            cd /home/${{ secrets.PI_USER }}
            chmod +x main
            tmux kill-session -t feest || true
            tmux new -d -s feest "./main"
          EOF
