name: Feest

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Debug container files
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/work \
          --platform=linux/arm \
          feest_builder \
          bash -c "ls -l /work"
  
      # 2️⃣ Setup QEMU voor ARM builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3️⃣ Build Docker image
      - name: Build Docker image
        run: |
          docker build -t feest_builder --platform=linux/arm .

      # 4️⃣ Compile code in container
      - name: Compile in container
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/work \
          --platform=linux/arm \
          feest_builder \
          bash -c "cd /work && ls -l && gcc -c pigpio/*.c && ar rcs libpigpio.a *.o && gcc main.c -L. -lpigpio -o main"


      # 5️⃣ Upload SSH key
      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PI_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      # 6️⃣ Copy executable to Raspberry Pi
      - name: Upload executable
        run: |
          scp -o StrictHostKeyChecking=no \
            ./main \
            ${{ secrets.PI_USER }}@${{ secrets.PI_HOST }}:/home/${{ secrets.PI_USER }}/main

      # 7️⃣ Restart program via tmux
      - name: Restart app via tmux
        run: |
          ssh -o StrictHostKeyChecking=no \
            ${{ secrets.PI_USER }}@${{ secrets.PI_HOST }} << 'EOF'
              cd /home/${{ secrets.PI_USER }}
              chmod +x main
              tmux kill-session -t feest || true
              tmux new -d -s feest "sudo /home/${{ secrets.PI_USER }}/main"
          EOF
